openapi: 3.0.0
info:
  title: OctoprintAPI
  description: Octoprint OpenApi documentation
  version: 0.0.1
paths:
  /login:
    post:
      tags: 
        - Authentication
      summary: User login
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        200:
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRecord'
components:
  schemas:
    LoginRequest:
      type: object
      properties:
        passive:
          type: boolean
    UserRecord:
      type: object
      properties:
        name:
          type: string
        active:
          type: boolean
        apikey:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key  
security:
  - ApiKeyAuth: []